<launch>
    <arg name="simulation" default="false" />
    <param name="simulation" type="bool" value="$(arg simulation)" />

    <!-- Our node to control the drone -->
    <node pkg="drone" type="drone_comm.py" name="drone" required="true" output="screen">
    </node>

    <!-- Simulation vio -->
<!--	<node pkg="drone" type="sim_odom" name="sim_odom" output="screen" if="$(arg simulation)" />-->

<!--    <include file="$(find drone)/launch/bridge_mavros.launch" unless="$(arg simulation)">-->

<!--    </include>-->

<!--    <include file="$(find drone)/launch/mavros_posix_sitl.launch" if="$(arg simulation)">-->

<!--	</include>-->
<!--    <include file="$(find px4_realsense_bridge)/launch/bridge_mavros_sitl.launch" if="$(arg simulation)">-->

<!--	</include>-->

</launch>
